<div class="container form-container">
  <%= simple_form_for(@restaurant) do |r| %>
    <%= r.label :name %>
    <%= r.text_field :name %>
    <%= r.label :category %>
    <%= r.text_field :category %>
    <%= r.label :address %>
    <%= r.text_field :address %>
    <%= r.label :phone_number %>
    <%= r.text_field :phone_number %>
    <%= r.submit %>
  <% end %>
</div>
